* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px; 
    font-family: -apple-system,BlinkMacSystemFont,segoe ui,roboto,oxygen,cantarell,helvetica neue,ubuntu,sans-serif;
    color: white;
}
body {
    background-color: black;
}
nav {
    background-color: rgb(20,20,20);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    }

    nav a {
    text-decoration: none;
    color: white;
    padding: 15px 10px;
    font-weight: bold;
    }
    .buttons:hover {
        border-right: 1px solid blueviolet;
        border-left: 1px solid blueviolet;
    }

    
    .logo {
        margin: 0px;
        padding-right: 0px;
        padding-bottom: 10px;
    }

    .logoname {
        margin-right: auto;

}

header {
    background-image: url("assets/heroimage.jpg");
    background-size: cover;
    height: 400px;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-bottom: 2px solid blueviolet;
    }

    .hero_content h1 {
    color: white;
    font-size: 50px;
    }

    .hero_content p {
    color: white;
    font-size: large;
    margin-bottom: 75px;
    }

    header a {
        background-color: rgb(30,30,30);
        color: white;
        text-decoration: none;
        padding: 15px 25px;
    }
    header a:hover {
        border: 1px solid blueviolet;
    }

.aboutme {
    color: white;
    background-color: rgb(20,20,20);
    height: 400px;
    max-width: 100%;
    display: grid;
    grid-template-columns: repeat(2, fr);
    grid-template-rows: 64px auto;
    border-bottom: 2px solid blueviolet;
    overflow: hidden;
    }

    .aboutme h1 {
        grid-column: 1 / 3;
        grid-row: 1 / 2;
        margin: 10px;
    }

    .aboutme p {
        grid-column: 1 / 2;
        grid-row: 2 / 3;
        font-size: large;
        margin: 10px;
    }

    .aboutme .grad_image {
        grid-column: 2 / 3;
        grid-row: 1 / 3;
        height: 100%;
        display: flex;
        align-content: center;
        justify-content: center;
    }

    .aboutme img {
        max-height: 100%;
        margin: 10px;
    }

.my_projects {
        color: white;
        background-color: rgb(20,20,20);
        height: 100%;
        max-width: 100%;
        display: grid;
        grid-template-columns: repeat(3, fr);
        grid-template-rows: 64px auto;
        gap: 10px;
        border-bottom: 2px solid blueviolet;
        padding-bottom: 10px;
        overflow: hidden;
        }

        .my_projects h1 {
            grid-column: 1 / 4;
            grid-row: 1 / 2;
            margin: 10px;
            text-align: center;
        }

        .my_projects p {
            font-size: 15px;
            text-align: center;
            margin: 0px 10px 10px 10px;
        }

        .my_projects h3 {
            text-align: center;
            margin: 10px 10px 0px 10px;
        }
    
        .raspberry {
            grid-column: 1 / 2;
            grid-row: 2 / 3;
            background-color: rgb(40,40,40);
            flex-direction: column;
            display: flex;
            align-content: center;
            align-items: center;
            margin: 10px 0px 10px 10px;
        }

        .raspberry_image {
            max-width: 100%;
            margin: 10px;
        }

        .smash {
            grid-column: 2 / 3;
            grid-row: 2 / 3;
            background-color: rgb(40,40,40);
            flex-direction: column;
            display: flex;
            align-content: center;
            align-items: center;
            margin: 10px 0px;
        }

        .smash_image {
            max-width: 100%;
            margin: 10px;
        }

        .game {
            grid-column: 3 / 4;
            grid-row: 2 / 3;
            background-color: rgb(40,40,40);
            display: flex;
            flex-direction: column;
            align-content: center;
            align-items: center;
            margin: 10px 10px 10px 0px;
        }

        .game_image {
            max-width: 100%;
            margin: 10px;
        }
    
footer {
    color: white;
    height: 64px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(20,20,20);
}

/*
-----------------------------------------------
    CSS Specific to influences.html
-----------------------------------------------
*/

.influences {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(5, auto);
    background-color: rgb(20,20,20);
    max-width: 100%;
    overflow: hidden;
    }

    .influences h1 {
        grid-column: 1 / 3;
        grid-row: 1 / 2;
        text-align: center;
        margin: 10px;
    }
    .influences img {
        margin: 10px;
    }

    .cih {
        grid-column: 1 / 2;
        grid-row: 2 / 3; 
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 10px;
        border-bottom: 2px solid blueviolet;
    }
    .cihtext {
        grid-column: 2 / 3;
        grid-row: 2 / 3;
        padding: 10px;
        text-align: left;
        border-bottom: 2px solid blueviolet;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center; 
    }

    .codered {
        grid-column: 2 / 3;
        grid-row: 3 / 4;
        padding: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        border-bottom: 2px solid blueviolet;
    }
    .coderedtext {
        grid-column: 1 / 2;
        grid-row: 3 / 4; 
        padding: 10px;
        border-bottom: 2px solid blueviolet;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center; 
    }

    .undertale {
        grid-column: 1 / 2;
        grid-row: 4 / 5;
        padding: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        border-bottom: 2px solid blueviolet; 
    }
    .undertaletext {
        grid-column: 2 / 3;
        grid-row: 4/ 5;
        padding: 10px; 
        border-bottom: 2px solid blueviolet;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center; 
    }

    .csgo {
        grid-column: 2 / 3;
        grid-row: 5 / 6;
        padding: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center; 
        border-bottom: 2px solid blueviolet;
    }
    .csgotext {
        grid-column: 1 / 2;
        grid-row: 5 / 6;
        padding: 10px; 
        border-bottom: 2px solid blueviolet;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center; 
    }

/*
-----------------------------------------------
    CSS Specific to contact.html
-----------------------------------------------
*/

input {
    background-color: rgb(30,30,30);
    border: 1px solid blueviolet;
    margin: 5px;
    padding: 2px;
}
select {
    background-color: rgb(30,30,30);
    border: 1px solid blueviolet;
    margin: 5px;
    padding: 2px;
}
textarea {
    background-color: rgb(30,30,30);
    border: 1px solid blueviolet;
    margin: 5px;
    padding: 2px;
}


.contact p {
    text-align: center;
    margin: 5px;
}
.contact h1 {
    text-align: center;
    margin: 5px;
}

.contact {
    background-color: rgb(20,20,20);
    border-bottom: 1px solid blueviolet;
}